.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



input {
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 4px;
  padding: 8px 12px;
margin: 5px;  
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}


h1 {
  color: #333;
  text-align: center;
}

/* Style the form */
label {
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  /* width: 90%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; */
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
  justify-content: center; /* Horizontal alignment to center */

  
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Style the training list */
h1 + h1 {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}

/* Style the message when there's no training list */
p {
  text-align: center;
  color: #555;
}

/* Style the training list container */
.training-list-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* Style the training list items */
.training-list-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
